<div class='center'><h1>Create new contact</h1></div>
<hr>
<%= render 'stocks/errors', obj: @contact %>

<%= render 'form', obj: @contact %>

<div class='row'>
    <div class='col-md-2'>
        <div class='btn btn-lg btn-danger'>
            <%= link_to 'Return to Contacts', contacts_path  %>
        </div>
    </div>
</div>