<div class = 'center'><h1><%= @contact.name %></h1></div>

<div>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <div class='row'>
                <div class='col-xs-4'>
                    <span class='glyphicon glyphicon-earphone'>&nbsp;<%= @contact.mobile_phone %></span>
                </div>
                <div class='col-xs-4'>
                    <span class='glyphicon glyphicon-phone-alt'>&nbsp;<%= @contact.home_phone %></span>
                </div>
            </div>
        </div>
        <div class='panel-body'>
            This will be a loop of comments
        </div>
    </div>
</div>